.App {
  text-align: center;
  padding: 10px;
  color: rgb(28, 128, 70);
  font-size: 1.00em;
  font-family: 'Courier New', Courier, monospace
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: rgb(28, 128, 70);
}

.Glowing {
  animation: App-header-scale infinite 3s linear;
}

.App-title {
  font-size: 1.00em;
  font-family: 'Courier New', Courier, monospace
}

.App-intro {
  font-size: large;
}

@keyframes App-header-scale {
  0% { transform: scale(1, 1); color: rgb(28, 128, 70); }
  50% { transform: scale(1.1, 1.1); color: rgb(15, 226, 103); }
  100% { transform: scale(1, 1); color: rgb(28, 128, 70); }
}
